* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  height: 100vh;
}

#avatar-wrap {
  width: 200px;
  height: 200px;
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}
#bg {
  width: 100%;
  height: 200px;
}
#avatar-comment {
  border: 1px solid rgb(30, 28, 28);
  width: 200px;
  height: 100px;
  border-radius: 12px;
  display: none;
  color: white;
  background-color: black;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem;
  text-align: center;
}

#button-wrapper {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}
.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  outline: none;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

button:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
  transition: 0.3s ease-in-out;
}

button:active {
  background-color: blue;
}
